# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
VITE_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Google
VITE_GOOGLE_CLIENT_ID=

# App
APP_URL=https://ais-dev-jzaxaze2lijkwws7radvfd-624336389525.asia-east1.run.app
NODE_ENV=development
